# Phoenix Crime
### Cleaning data

The dataset was downloaded from [Phoenix city website](https://www.phoenix.gov/opendata).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('./data/crimedataset.csv',)
print (df.shape)
df.head(10)

(78133, 7)

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE
0,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043,SINGLE FAMILY HOUSE
1,201500002103724,11/01/2015 00:00,11/01/2015 15:21,DRUG OFFENSE,54XX W INDIAN SCHOOL RD,85031,APARTMENT
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029,SINGLE FAMILY HOUSE
3,201600000527709,11/01/2015 00:00,03/22/2016 00:36,LARCENY-THEFT,33XX W CAMELBACK RD,85017,PARKING LOT
4,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307,SINGLE FAMILY HOUSE
5,201600000594484,11/01/2015 00:00,NaN,RAPE,13XX E ALMERIA RD,85006,SINGLE FAMILY HOUSE
6,201500002102327,11/01/2015 00:00,11/01/2015 09:00,LARCENY-THEFT,51XX N 15TH ST,85014,APARTMENT
7,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014,PARKING LOT
8,201600000223791,11/01/2015 00:01,01/30/2016 23:59,BURGLARY,40XX E MCDOWELL RD,85008,07A STOREROOM/SHED (COMMERCIAL)
9,201500002334281,11/01/2015 00:01,11/30/2015 00:00,MOTOR VEHICLE THEFT,17XX W DESERT COVE AVE,85029,PARKING LOT

In [3]:
df['OCCURRED ON'].fillna(df['OCCURRED TO'], inplace=True)

In [4]:
temp=pd.DatetimeIndex(df['OCCURRED ON'])

In [5]:
df['date'] = temp.date
df['hour'] = temp.time
df['year'] = (temp.year).astype(int)
df['month'] = (temp.month).astype(int)
df['day'] = (temp.day).astype(int)
df['weekday'] = temp.weekday_name

df.head()

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE,date,hour,year,month,day,weekday
0,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043,SINGLE FAMILY HOUSE,2015-11-01,00:00:00,2015,11,1,Sunday
1,201500002103724,11/01/2015 00:00,11/01/2015 15:21,DRUG OFFENSE,54XX W INDIAN SCHOOL RD,85031,APARTMENT,2015-11-01,00:00:00,2015,11,1,Sunday
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029,SINGLE FAMILY HOUSE,2015-11-01,00:00:00,2015,11,1,Sunday
3,201600000527709,11/01/2015 00:00,03/22/2016 00:36,LARCENY-THEFT,33XX W CAMELBACK RD,85017,PARKING LOT,2015-11-01,00:00:00,2015,11,1,Sunday
4,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307,SINGLE FAMILY HOUSE,2015-11-01,00:00:00,2015,11,1,Sunday

In [6]:
cols = ['OCCURRED ON','date','hour','year','month','day','weekday','ZIP','UCR CRIME CATEGORY','PREMISE TYPE']
df = df[cols]
df.head(10)
df.columns = ['datetime','date','hour','year','month','day','weekday','zip','crime','place']

In [7]:
df.to_csv('./data/cleaneddataset.csv', encoding='utf-8',index=False)

In [8]:
df['year'].unique()

array([2015, 2016, 2017])